* {
    box-sizing: border-box;
}

:root {
    --text-gray-color: #696d76;
    --primary-black-color: #212832;
    --primary-purple-color: #7264d6;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

/* Common */

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}

.btn {
    --height: 58px;
    min-width: 149px;
    height: var(--height);
    line-height: var(--height);
    padding: 0 16px;
    border-radius: 8px;
    background: var(--primary-purple-color);
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    border: none;
    transition: opacity 0.2s;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* Header */
.header {
    padding: 42px 0;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__logo {
    position: relative;
    top: 2px;
}

.navbar__list {
    display: flex;
    align-items: center;
    margin-left: 46px;
}

.navbar__item--active .navbar__link:after {
    display: block;
}

.navbar__link,
.header-action__log-in {
    position: relative;
    color: var(--text-gray-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    padding: 8px 24px;
    transition: color 0.25s, text-shadow 0.25s;
}

.navbar__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: calc(100% - 44px);
    height: 1px;
    border-radius: 1px;
    background-color: var(--primary-purple-color);
}

.navbar__link:hover,
.header-action__log-in:hover,
.navbar__item--active .navbar__link {
    color: var(--primary-black-color);
    text-shadow: 1px 0 0.5px currentColor;
}

.header-action {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-action__sign-up {
    --height: 52px;
    min-width: 113px;
    background-color: var(--primary-black-color);
    margin-left: 4px;
}
