* {
    box-sizing: border-box;
}

:root {
    --text-gray-color: #696d76;
    --primary-black-color: #212832;
    --primary-purple-color: #7264d6;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
select,
textarea,
button {
    font-family: inherit;
}

/* Common */

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 58px;
    min-width: 149px;
    height: var(--height);
    line-height: var(--height);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    border-radius: 8px;
    background: var(--primary-purple-color);
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    border: none;
    transition: opacity 0.2s;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.section-title {
    display: flex;
    align-items: center;
    color: var(--text-gray-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-bottom: 12px;
}

.section-title::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: currentColor;
    margin-right: 12px;
}

.section-heading {
    color: var(--primary-black-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section-desc {
    color: var(--text-gray-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-top: 18px;
    max-width: 435px;
}

/* Header */
.header {
    padding: 42px 0;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__logo {
    position: relative;
    top: 2px;
}

.navbar__list {
    display: flex;
    align-items: center;
    margin-left: 46px;
}

.navbar__item--active .navbar__link:after {
    display: block;
}

.navbar__link,
.header-action__log-in {
    position: relative;
    color: var(--text-gray-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    padding: 8px 24px;
    transition: color 0.25s, text-shadow 0.25s;
}

.navbar__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: calc(100% - 44px);
    height: 1px;
    border-radius: 1px;
    background-color: var(--primary-purple-color);
}

.navbar__link:hover,
.header-action__log-in:hover,
.navbar__item--active .navbar__link {
    color: var(--primary-black-color);
    text-shadow: 1px 0 0.5px currentColor;
}

.header-action {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-action__sign-up {
    --height: 52px;
    min-width: 113px;
    background-color: var(--primary-black-color);
    margin-left: 4px;
}

/* Hero */

.hero {
    padding: 34px 0 80px;
}

.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 160px;
}

.hero__content {
    width: 46%;
}

.hero__heading {
    color: var(--primary-black-color);
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17;
}

.hero__heading--notice {
    color: var(--primary-purple-color);
}

.hero__desc,
.feature__desc {
    color: var(--text-gray-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-top: 20px;
}

.subscribe-form__group {
    width: 100%;
    height: 74px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
    margin-top: 40px;
}

.subscribe-form__input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 23px;
    color: var(--text-gray-color);
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: inherit;
}

.subscribe-form__input::placeholder {
    color: var(--text-gray-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.subscribe-form__submit {
    margin-right: 8px;
}

.subscribe__note {
    margin-top: 20px;
    color: var(--text-gray-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

.hero__media {
    flex: 1;
    position: relative;
}

.hero__img-wrap {
    width: 296px;
    position: relative;
}

.hero__img {
    width: 100%;
    object-fit: cover;
}

.hero-deposite {
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
    position: absolute;
    left: -100px;
    top: 113px;
    padding: 14px 10px;
    display: flex;
    align-items: center;
}

.hero-deposite__title,
.hero-deposite__price {
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    margin-left: 8px;
}

.hero-deposite__price {
    color: #4ab5e3;
    margin-left: 19px;
}

.hero-fund {
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
    padding: 20px 14px;
    display: flex;
    align-items: center;
    column-gap: 11px;
    position: absolute;
    right: -74px;
    bottom: 61px;
}

.hero-fund__price,
.hero-fund__title {
    color: #fff;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.hero-fund__title {
    font-size: 0.8rem;
    margin-top: 5px;
}

.hero-interest {
    position: absolute;
    top: 127px;
    right: 0;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #da6464;
}

.hero-interest__percent {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-interest__title {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.375;
}

/* Feature */

.feature {
    padding: 80px 0;
}

.feature__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 160px;
    align-items: center;
}

.feature__media-top .feature__decor {
    position: absolute;
    top: 76px;
    left: 337px;
    z-index: 1;
}

.feature__media-bottom .feature__decor {
    position: absolute;
    right: -138px;
    bottom: 169px;
    z-index: 2;
}

.feature__img-wrap {
    width: 470px;
    position: relative;
}

.feature__img-wrap::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    background-image: url(../imgs/feature-background_01.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 90%;
    width: 100%;
}

.feature__img-wrap-bottom::after {
    background-image: url(../imgs/feature-background_02.svg);
}

.feature__img-wrap-bottom .feature__img {
    width: 87%;
}

.feature__img {
    position: relative;
    z-index: 1;
    width: 96%;
    display: block;
    object-fit: cover;
    margin: 0 auto;
}

.feature-congratulation {
    width: 226px;
    height: 70px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
    font-family: Inter, sans-serif;
    padding: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 96px;
    right: -100px;
    column-gap: 10px;
    z-index: 1;
}

.feature-congratulation__heading {
    color: var(--primary-black-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.21;
}

.feature-congratulation__desc {
    color: var(--text-gray-color);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.25;
    margin-top: 5px;
}

.feature__content {
    max-width: 470px;
    margin-left: auto;
}

.feature__content-middle {
    margin-left: 0;
}

.feature__list {
    margin-top: 70px;
}

.feature-item__heading {
    color: var(--primary-black-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.feature-item__desc {
    color: var(--text-gray-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin: 16px 0 30px;
}

.feature__desc {
    margin-bottom: 28px;
}

.feature__notice {
    color: var(--primary-black-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    margin-top: 18px;
    display: flex;
    align-items: center;
}

.feature__notice:first-child {
    margin-top: 28px;
}

.feature__notice::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 12px;
    background-color: var(--primary-purple-color);
}

.feature__cta {
    margin-top: 38px;
    background-color: var(--primary-black-color);
}

.feature__card-wrap {
    width: 482px;
    position: relative;
}

.feature__card {
    width: 100%;
    object-fit: cover;
}

.feature-bill {
    width: 276px;
    height: 86px;
    padding: 23px 13px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
    position: absolute;
    top: -48px;
    right: -88px;
    display: flex;
    align-items: center;
    column-gap: 14px;
    font-family: Inter, sans-serif;
}

.feature-bill__info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.feature-bill__icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fbefef;
    border-radius: 50%;
}

.feature-bill__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-bill__title {
    color: var(--primary-black-color);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.25;
}

.feature-bill__price {
    color: var(--primary-black-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.25;
}

.feature-bill__desc,
.feature-bill__date {
    color: var(--text-gray-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    margin-top: 4px;
}

.feature-income {
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
    padding: 15px;
    position: absolute;
    right: -88px;
    bottom: -55px;
}

.feature-income__icon {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-income__title {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 14px;
}

.feature-income__price {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.25;
    top: 6px;
}

.feature__payment {
    width: 376px;
    position: absolute;
    right: -121px;
    bottom: -34px;
    z-index: 1;
}

/* Client */
.client {
    padding: 80px 0;
}

.client__top {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.client__desc {
    text-align: center;
}

.client__content {
    margin-top: 70px;
    overflow: hidden;
}

.client__list {
    display: flex;
    column-gap: 30px;
}

.client-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.client-item:nth-child(1) .client-item__avatar-wrap {
    background-color: #4ab5e3;
}
.client-item:nth-child(2) .client-item__avatar-wrap {
    background-color: #439f90;
}
.client-item:nth-child(3) .client-item__avatar-wrap {
    background-color: #4ab5e3;
}
.client-item:nth-child(4) .client-item__avatar-wrap {
    background-color: #439f90;
}
.client-item:nth-child(5) .client-item__avatar-wrap {
    background-color: #4ab5e3;
}
.client-item:nth-child(6) .client-item__avatar-wrap {
    background-color: #439f90;
}

.client-item__quote-wrap {
    border-radius: 8px;
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 42px 28px;
    border: 1px solid #dfe2e8;
    transition: drop-shadow 0.2s;
}

.client-item__quote-wrap:hover {
    border-color: transparent;
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.client-item__quote-wrap:hover::before {
    display: none;
}

.client-item__quote-wrap::before {
    content: "";
    display: block;
    position: absolute;
    border-color: #dfe2e8 transparent transparent transparent;
    border-width: 61px 51px 0;
    border-style: solid;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.client-item__quote-wrap::after {
    content: "";
    display: block;
    position: absolute;
    border-color: #fff transparent transparent transparent;
    border-width: 60px 50px 0;
    border-style: solid;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.client-item__quote {
    color: var(--text-gray-color);
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.55;
}

.client-item__avatar-wrap {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    margin-top: 92px;
    overflow: hidden;
    display: flex;
}

.client-item__avatar {
    width: 100%;
    object-fit: cover;
    margin-top: auto;
}

.client-item__name {
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
    margin-top: 20px;
}

.client-item__title {
    color: var(--text-gray-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-top: 2px;
}

.client__dots {
    display: flex;
    column-gap: 12px;
    margin-top: 38px;
    justify-content: center;
}

.client__dot {
    width: 22px;
    height: 6px;
    border: 1px solid var(--text-gray-color);
    border-radius: 1px;
    transition: background 0.2s, border-color 0.2s;
}

.client__dot--active {
    background-color: var(--primary-purple-color);
    border-color: var(--primary-purple-color);
}

.client__dot:hover {
    background-color: var(--primary-purple-color);
    border-color: var(--primary-purple-color);
    cursor: pointer;
}

/* Blog */

.blog {
    padding: 80px 0;
    margin-bottom: 80px;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__cta {
    min-width: 123px;
    background-color: var(--primary-black-color);
}

.blog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 70px;
}

/* Blog Item */

.blog-item {
    display: flex;
    align-items: center;
    column-gap: 22px;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
    padding: 28px;
    transition: box-shadow 0.2s, border-color 0.2s;
}

.blog-item:hover {
    border-color: transparent;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.blog-item__thumb {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    object-fit: cover;
    display: block;
    overflow: hidden;
}

.blog-item__date {
    color: var(--text-gray-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.blog-item__heading {
    color: var(--primary-black-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    margin-top: 10px;
}

.blog-item__link {
    color: var(--text-gray-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.625;
    margin-top: 20px;
    transition: color 0.2s;
    display: inline-block;
}

.blog-item__link:hover {
    color: var(--primary-purple-color);
}

/* Download */

.download {
    margin-bottom: 100px;
}

.download__inner {
    position: relative;
    border-radius: 24px;
    background: var(--primary-purple-color);
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download__title,
.download__desc,
.download__heading {
    color: #fff;
    text-align: center;
}

.download__apps {
    margin-top: 38px;
    display: flex;
    column-gap: 16px;
}

.download__app {
    transition: opacity 0.2s;
}

.download__app:hover {
    opacity: 0.9;
}

.download__decor {
    position: absolute;
}

.download__decor:nth-of-type(1) {
    top: 49px;
    left: 112px;
}
.download__decor:nth-of-type(2) {
    top: 49px;
    right: 112px;
}
.download__decor:nth-of-type(3) {
    bottom: 49px;
    left: 166px;
}
.download__decor:nth-of-type(4) {
    bottom: 49px;
    right: 166px;
}
